{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "",
            "Effect": "Allow",
            "Action": [
                "route53:ListHostedZones",
                "logs:PutLogEvents",
                "logs:CreateLogStream",
                "logs:CreateLogGroup",
                "cloudwatch:PutMetricData",
            ],
            "Resource": "*"
        },
        {
            "Sid": "",
            "Effect": "Allow",
            "Action": [
                "sns:Publish",
                "route53:GetChange",
                "route53:ChangeResourceRecordSets",
                "s3:PutObject"

            ],
            "Resource": [
                "arn:aws:sns:us-east-1:<account_id>:cloudwatch_certbot",
                "arn:aws:route53:::hostedzone/<zone_id>",
                "arn:aws:route53:::change/*",
                "arn:aws:s3:::<bucket>/<path>/*"
            ]
        }
    ]
}
